@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Sriracha&family=Titan+One&family=Ubuntu:wght@300&display=swap");
body {
  padding-top: 2rem;
  margin: 0;
  padding: 0;
}

.custom-nav {
  font-family: "Sriracha", cursive;
}

.custom-nav .navbar-brand img {
  width: 340px;
  height: 50px;
}

.custom-nav .navbar-brand img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.custom-nav #navbarScroll .navbar-nav .nav-item .nav-login {
  display: inline-block;
  color: #fcf50a;
  background-color: #da251c;
  border-radius: 50em;
  padding: 0.5em 0.5em;
  text-decoration: none;
  font-family: "Sriracha", cursive;
  font-size: 90%;
  margin-left: 1em;
}

.custom-nav #navbarScroll .navbar-nav .nav-item .nav-login:hover {
  color: #da251c;
  border-radius: 0.5em;
  border: 1px solid #da251c;
  background-color: white;
  padding: 0.5em 1.5em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.custom-nav #navbarScroll .navbar-nav .nav-item .nav-link {
  color: #fcf50a;
  font-weight: 700;
  margin-left: 1em;
  border-radius: 50em;
  background-color: #da251c;
  border: 1px solid transparent;
  -webkit-transition: 0.5s color ease;
  transition: 0.5s color ease;
  font-size: 80%;
}

.custom-nav #navbarScroll li ul li {
  font-size: 80%;
}

.header .custom-carousel {
  margin-top: 5rem;
}

.header .btn {
  margin-top: 2rem;
}

.header a,
.header .btn {
  display: inline-block;
  color: #fcf50a;
  background-color: #da251c;
  border-radius: 50em;
  padding: 0.5em 1em;
  text-decoration: none;
  font-family: "Sriracha", cursive;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header a:hover,
.header .btn:hover {
  color: #da251c;
  border: 1px solid #da251c;
  background-color: #fcf50a;
}

.adrt h2,
.adrt h3 {
  color: #da251c;
  font-family: "Sriracha", cursive;
  margin-top: 3rem;
}

.adrt a {
  display: inline-block;
  color: #fcf50a;
  background-color: #da251c;
  border-radius: 50em;
  padding: 0.5em 1em;
  text-decoration: none;
  font-family: "Sriracha", cursive;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.adrt a:hover {
  color: #da251c;
  border: 1px solid #da251c;
  background-color: #fcf50a;
}

.adrt .btn {
  display: inline-block;
  color: #fcf50a;
  background-color: #da251c;
  border-radius: 50em;
  padding: 0.5em 1em;
  text-decoration: none;
  font-family: "Sriracha", cursive;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.adrt .btn:hover {
  color: #da251c;
  border: 1px solid #da251c;
  background-color: #fcf50a;
}

.bab {
  margin-bottom: 2rem;
}

.bab h2,
.bab h3 {
  color: #da251c;
  font-family: "Titan One", cursive;
}

.bab h4 {
  color: #45916b;
  font-family: "Roboto Slab", serif;
}

.bab p {
  color: #1d1d1d;
  font-family: "Sriracha", cursive;
}

.bab .ratasisi {
  text-align: justify;
  margin-left: 7rem;
}

.bab a {
  display: inline-block;
  color: #fcf50a;
  background-color: #da251c;
  border-radius: 50em;
  padding: 0.5em 1em;
  text-decoration: none;
  font-family: "Sriracha", cursive;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.bab a:hover {
  color: #da251c;
  border: 1px solid #da251c;
  background-color: #fcf50a;
}

.bab .btn {
  display: inline-block;
  color: #fcf50a;
  background-color: #da251c;
  border-radius: 50em;
  padding: 0.5em 1em;
  text-decoration: none;
  font-family: "Sriracha", cursive;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.bab .btn:hover {
  color: #da251c;
  border: 1px solid #da251c;
  background-color: #fcf50a;
}

.bab .modal img {
  width: 100%;
}

.kontak {
  height: 350px;
  background-image: url(../../img/kontak/01.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  margin-top: 5rem;
  padding: 3rem;
}

.kontak h6 {
  font-family: "Sriracha", cursive;
  color: #da251c;
  padding-top: 10px;
}

.kontak h6:hover {
  color: #45916b;
}

.kontak a {
  display: inline-block;
  color: #da251c;
  background-color: white;
  border-radius: 50em;
  padding: 0.5em 1em;
  text-decoration: none;
  font-family: "Sriracha", cursive;
  font-size: 100%;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.kontak a:hover {
  color: #da251c;
  border: 1px solid #da251c;
  background-color: #fcf50a;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.kontak iframe {
  border-radius: 0px;
}

.kontak iframe:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.footer {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .custom-nav {
    font-family: "Sriracha", cursive;
  }
  .custom-nav .navbar-brand img {
    width: 200px;
    height: 30px;
  }
  .custom-nav .navbar-brand img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .bab .ratasisi {
    text-align: justify;
    margin-left: 0rem;
  }
  .header .custom-carousel {
    margin-top: 3rem;
  }
  .header .btn {
    margin-top: 1rem;
  }
  .custom-produk h2 {
    font-size: 130%;
    margin-top: 3rem;
  }
  .custom-produk h3 {
    font-size: 130%;
    margin-top: 1rem;
  }
  .custom-produk a {
    display: inline-block;
    color: #fcf50a;
    background-color: #da251c;
    border-radius: 50em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    font-size: 50%;
    font-family: "Sriracha", cursive;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .custom-produk a:hover {
    color: #da251c;
    border: 1px solid #da251c;
    background-color: #fcf50a;
  }
  .custom-produk .modal img {
    width: 50%;
  }
  .custom-produk .modal td,
  .custom-produk .modal th {
    font-size: 80%;
  }
  .kontak {
    height: 200px;
    background-image: url(../../img/kontak/01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    margin-top: 5rem;
    padding: 1rem;
  }
  .kontak h6 {
    font-family: "Sriracha", cursive;
    color: #da251c;
    padding-top: 10px;
  }
  .kontak h6:hover {
    color: #45916b;
  }
  .kontak a {
    display: inline-block;
    color: #da251c;
    background-color: white;
    border-radius: 50em;
    padding: 0.5em 1em;
    text-decoration: none;
    font-family: "Sriracha", cursive;
    font-size: 100%;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .kontak a:hover {
    color: #da251c;
    border: 1px solid #da251c;
    background-color: #fcf50a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .kontak iframe {
    border-radius: 0px;
    width: 200px;
    height: 100px;
  }
  .kontak iframe:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .footer h6,
  .footer p {
    font-size: 0.5rem;
  }
}

@media (max-width: 991px) {
  .custom-produk .modal img {
    width: 100%;
  }
  .custom-produk .modal td,
  .custom-produk .modal th {
    font-size: 80%;
  }
}
/*# sourceMappingURL=adrt.css.map */